<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gelaraulia.geeksfarmtraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayActivity"
            android:label="@string/title_activity_framelay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LinearLayHorActivity"
            android:label="@string/title_activity_linearlayhor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LinearLayVerActivity"
            android:label="@string/title_activity_linearlayver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TableLayActivity"
            android:label="@string/title_activity_tablelay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GridLayActivity"
            android:label="@string/title_activity_gridlay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RelativeLayActivity"
            android:label="@string/title_activity_relativelay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NestedLayActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ImageViewActivity"></activity>
    </application>

</manifest>